basePath: /
consumes:
- application/json
definitions:
  utility.ErrorResponseSchema:
    properties:
      error:
        type: string
    type: object
  utility.KeyValueSchema:
    properties:
      key:
        type: string
      type:
        type: string
      value:
        type: string
    type: object
  utility.ProviderGetResponseSchema:
    properties:
      fields:
        items:
          $ref: '#/definitions/utility.KeyValueSchema'
        type: array
      id:
        type: string
      name:
        type: string
    type: object
  utility.ProvidersGetResponseSchema:
    properties:
      providers:
        items:
          $ref: '#/definitions/utility.ProviderGetResponseSchema'
        type: array
    type: object
  utility.UserLoginRequestBodySchema:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  utility.UserPostRequestBodySchema:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        type: string
      teams:
        items:
          type: string
        type: array
    type: object
host: localhost:5000
info:
  contact: {}
  title: A.I.M.S Swagger
  version: "1.0"
paths:
  /authorise/slack:
    get:
      consumes:
      - application/json
      description: Redirect to Slack auth login
      produces:
      - application/json
      responses:
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
      security:
      - JWT: []
      summary: Redirect to Slack auth login
      tags:
      - Third-Party Auth
  /authorise/slack/callback:
    get:
      consumes:
      - application/json
      description: Link Slack to user
      produces:
      - application/json
      responses:
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
      security:
      - JWT: []
      summary: Link Slack to user
      tags:
      - Third-Party Auth
  /incidents:
    post:
      consumes:
      - application/json
      description: Create an incident
      produces:
      - application/json
      responses:
        "201":
          description: Created
      security:
      - JWT: []
      summary: Create an incident
      tags:
      - Incidents
  /providers:
    get:
      consumes:
      - application/json
      description: Get a list of Providers
      parameters:
      - description: The type of provider
        enum:
        - log
        - alert
        in: query
        name: provider_type
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/utility.ProvidersGetResponseSchema'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
      security:
      - JWT: []
      summary: Get a list of Providers
      tags:
      - Settings
    post:
      consumes:
      - application/json
      description: Create a provider
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
      security:
      - JWT: []
      summary: Create a provider
      tags:
      - Settings
  /providers/{provider_id}:
    put:
      consumes:
      - application/json
      description: Update a provider
      parameters:
      - description: Provider ID
        format: uuid
        in: path
        name: provider_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
      security:
      - JWT: []
      summary: Update a provider
      tags:
      - Settings
  /teams:
    post:
      consumes:
      - application/json
      description: Create a Team
      produces:
      - application/json
      responses:
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
      security:
      - JWT: []
      summary: Create a Team
      tags:
      - Teams
  /teams/{team_id}:
    delete:
      consumes:
      - application/json
      description: Delete a Team
      parameters:
      - description: Team ID
        format: uuid
        in: path
        name: team_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
      security:
      - JWT: []
      summary: Delete a Team
      tags:
      - Teams
  /users:
    post:
      consumes:
      - application/json
      description: Create a user
      parameters:
      - description: The request body
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/utility.UserPostRequestBodySchema'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          headers:
            Location:
              description: GET URL of the created User
              type: string
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
      summary: Create a user
      tags:
      - Users
  /users/login:
    post:
      consumes:
      - application/json
      description: Login as a user
      parameters:
      - description: Request Body
        in: body
        name: request_body
        required: true
        schema:
          $ref: '#/definitions/utility.UserLoginRequestBodySchema'
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utility.ErrorResponseSchema'
      summary: Login as a user
      tags:
      - Users
produces:
- application/json
schemes:
- https
securityDefinitions:
  JWT:
    description: The JWT
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
